*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}
a{
    user-select: none;
    text-decoration: none;
}
button{
    user-select: none;
}
.closeBtn {
    user-select: none;
    cursor: pointer;
}


body{
    position: relative;
    min-width: 280px;
    min-height: 619px;
    overflow-x:hidden
}

.backToTop{
    width: 50px;
    height: 50px;
    background: #FFF;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: .7;
    box-shadow: 0px 0px 80px 10px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 0px 80px 10 rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 80px 10px rgba(0,0,0,0.61);

}
.backToTop img{
    width: 30px;
    transform: rotate(180deg);
}

.location{
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    color: #4d5768;
}



/*
@media (prefers-color-scheme: dark) {
    body{
        background: #191919;
    }
    body{
        color: #ccc;
    }
    .backToTop{
        background: #000;
        box-shadow: 0px 0px 60px 0px rgba(200,200,200,0.31);
        -webkit-box-shadow: 0px 0px 0px 10 rgba(200,200,200,0.31);
        -moz-box-shadow: 0px 0px 0px 10px rgba(200,200,200,0.31);
    }
    .backToTop img{
        filter: invert(100%);
    }
}
*/

header{
    width: 90%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_parent{
    min-width: 280px;
}

header .logo{
    width: 170px;
}

header .right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .right a:nth-child(2) {
    position: relative;
}
header .right a:nth-child(2) .cart_items_num{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -50%;
    margin-bottom: -20%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav_parent{
    width: 100%;
    height: 85%;
    position: fixed;
    top: 15vh;
    left: 0;
    background:rgba(0, 0, 0, .5);
    z-index: 1;
    display: none;
}

header .right .nav{
    position: absolute;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background:#FFF;

}
header .right .nav a{

    width: 18%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 1    rem;
    text-decoration: none;
    color: #000;
    border: 1.5px solid rgb(102, 102, 102);

}
header .right .nav_parent .nav .copy{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

header .cart img, header .search img{
    width: 18px;
}

header .cart{
    margin:0 20px;
}

header .right .burger{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 35px;
    height: 26px;
    position: relative;
}



header .right .burger div{
    width: 35px;
    height: 3px;
    background-color: #FFF;
    border-radius: 10px;
    background:#000;
    position: absolute;
    transition: ease-in-out 300ms ;
}
header .right .burger div:nth-child(1){
    width: 22px;
    top: 5px;

}

header .right .burger div:nth-child(2){
    bottom: 5px;    
}

.listings{
    min-height:80px;
    position: relative;
}


.nothing{
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*media queries*/




/*
@media (prefers-color-scheme: dark) {
    header img{
        filter: invert(100%);
    }
    header .right .nav_parent .nav a{
        background: unset;
        color: #ccc;
    }
    header .right .nav_parent .nav .active{
        color: #FFF;
        border-color: #FFF;
    }
    header .right .burger div{
        background-color: #FFF;
    }
    header .right .nav{
        background: #191919;
    }
}
*/


header .right a:nth-child(2) .cart_items_num:empty{
    display: none;
}


footer{
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}

footer .title{
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: 200%;
    margin-bottom: 10px;
    position: relative;
}
footer .title::after{
    content: "";
    width: 25px;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a{
    display: block;
    font-size: 1.5rem;
    line-height: 350%;
    text-decoration: none;
    color: #282828;
}

footer .copy{
    margin-top: 20px;
    font-size: 1.2rem;
    color: #4d5768;
}






/*
@media (prefers-color-scheme: dark) {
    footer a{
        color: #ccc;
    }
    footer .copy{
        color: #AAA;
    }
    footer .title::after{
        background: #CCC;
    }
}
*/

.listing_header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.listing_header .result_counter{
    font-size: 1.5rem;
}

.listing_header .filter{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    background: #F2F5FA;
}
.listing_header .filter p{
    margin-left: 10px;
}
.listing_header .filter img{
    width: 16px;
    margin-right: 10px;
}


.listings {
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listings a{
    text-decoration: none;
    color: unset;
    display: block;
    width: 90%;
    height: 250px;
    margin-bottom: 30px;
}

.listings .product{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F2F5FA;
    border-radius: 10px;
    user-select: none;
    /* justify-self: center; */
}

.listings .product .product_img{
    height:65%;
    max-width: 100%;
    object-fit: contain;
    margin: 10px 0;
}

.listings .product .product_title{
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-align: center;
    max-width: 90%;
}

.listings .product .product_price{
    font-size: 1.4rem;
    font-weight: bolder;
    padding-bottom: 10px;
}





/*
@media (prefers-color-scheme: dark) {
    .listings .card{
        background: #222222 ;
    }
    .listing_header .filter{
        background: #222222;
        color: #FFF;
    }
    .listing_header .filter img{
        filter: invert(100%);
    }
}
*/
.notification{
    width: 250px;
    height: 70px;
    background: #FFF;
    border: 2px solid #CCC;
    position: fixed;
    bottom: 2.5%;
    right: 5%;
    animation: slideIn 1s linear;
    transition: ease-out 2s;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.notification .close{
    width: 30px;
    height: 30px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 0;
}
.notification p{
    width: 100%;
    text-align: center;
    font-size:1.3rem; 

}
@keyframes slideIn {
    0% {
        bottom: -50%;
    }
    100% {
        bottom: 2.5%;
    }
}

.filters_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0, 0, 0, .7);
    display: none;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.filters{
    width: 100%;
    height: 100%;
    background:#FFF;
}

.filters .header{
    width: 100%;
    height: 10%;
    background: #F2F5FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters .header .left{
    font-size: 3.5rem;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #282828;
}
.filters .filter_section{
    width: auto;
    margin-top: 30px;
}
.filters .header .right{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
}
.filters .header .right .title{
    font-size: 1.6rem;
    margin-left: 10px;
}
.filters .header .right .resetBtn{
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: bolder;
    color: #6428A1;
    margin-right: 5%;
}



.filters .filter_section .title{
    width: 90%;
    color:#6428A1;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}



.filters .filter_section .buttons{
    width: auto;
    white-space:nowrap;
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;

}

.filters .filter_section a{
    display: block;
    padding: 12px 20px 12px 20px!important;
    height: 40px;
    margin-right: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    border: 1.5px solid rgb(102, 102, 102);
}

.filters .filter_section a:nth-child(1) {
    margin-left: 5%;

}
.filters .filter_section .active{
    font-weight: bolder;
    border: 2px solid #000;
}






.buttons{
    padding-bottom: 10px;
}

.filter_section .buttons::-webkit-scrollbar{
    background: #F2F5FA;
    height: 5px;
}


.filter_section .buttons::-webkit-scrollbar-button{
    background: #F2F5FA;
}

.filter_section .buttons::-webkit-scrollbar-thumb{
    background: #b3b3b3;
}

/*
@media (prefers-color-scheme: dark) {
    .filters{
        background: #222222;
    }
    .filters .header{
        background: #222222;
    }
    .filters .header .right .resetBtn, .filters .filter_section .title {
        color: #8003ff;
    }
    
    .filters .filter_section a {
        color: #CCC;
    }
    .filters .filter_section .active{
        color: #FFF;
        border-color:#FFF;
    }
}
*/


@media (max-width: 400px) {
    html {
        font-size: 55%;
    }
    .listings a{
        height: 240px;
    }
    header .logo{
        width: 120px;
    }
    
    header .cart img, header .search img{
        width: 16px;
    }
}

@media (min-width:665px) {

    .listings {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .listings a{
        width: 90%;
    }
}
@media (min-width:1000px) {
    .listings {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .listings a{
        height: 250px;
        width: 80.8%;
    }
}

@media (min-width:1000px) {
    header .right .burger{
        display: none;
    }

    header .right .nav_parent{
        display: flex!important;
        width: unset;
        height: unset;
        background:unset;
        position: unset;
        top: unset;
        left: unset;
    }
    header .right .nav{
        position: unset;
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    header .right .nav a{
        display: block;
        width: unset;
        padding: 12px 20px 12px 20px!important;
        height: 40px;
        font-size: 1.2rem;    
    }
    header .right .nav .copy{
        display: none;
    }
    footer{
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: unset;
    }

    footer .title{
        line-height: 210%;
        padding-bottom: 0px;
        margin-bottom: unset;
    }
    footer .copy{
        width: 90%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filters{
        width: 30%;
        min-height: 70%;
    }
    .filters .header .left{
        display: none;
    }
    .filters .header .right .title{
        margin-left: 5%;
    }
    .filters .filter_section .title{
        font-size: 1.6rem;
    }
    .filters .filter_section .buttons a{
        margin-bottom: 10px ;
    }
    .filters .filter_section .buttons a:nth-child(1) {
        margin-left: unset;
    }
    .filters .filter_section .buttons{
        white-space: unset;
        display: flex;
        margin-top: 10px;
        overflow-x: hidden; 
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
}